This file contains information on what filters were applied to the data.

In [188]:
import pandas as pd

In [189]:
Unfiltered_Merged = pd.read_csv("Unfiltered_MergedData_10.csv")

In [190]:
Unfiltered_Merged.columns

Index(['medwid', 'no_lanes', 'lanewid', 'aadt', 'trf_cntl', 'curv_rad',
       'begmp', 'seg_lng', 'endmp', 'access', 'oneway', 'spd_limt', 'med_type',
       'surf_typ', 'cnty_rte', 'rururb', 'rodwycls', 'AccCount',
       'Severity_PDO', 'Severity_Inj_TypeA', 'Severity_Inj_TypeB',
       'Severity_Inj_TypeC', 'Severity_Fatal', 'Severity_Unknown',
       'Weather_Clear', 'Weather_Rain', 'Weather_Snow', 'Weather_Fog',
       'Weather_Hail', 'Weather_CrossWind', 'Weather_Other',
       'Weather_Unknown'],
      dtype='object')

MEDIAN WIDTH AND TYPE

In [191]:
Unfiltered_Merged.med_type.value_counts()

0    126392
1     19448
2     11718
5     11567
3      5725
7      2387
4      1875
6      1252
Name: med_type, dtype: int64

In [192]:
Unfiltered_Merged[Unfiltered_Merged.med_type!=0].medwid.value_counts()

4      7562
64     3940
12     3931
6      3421
40     3288
       ...
460       1
360       1
550       1
615       1
270       1
Name: medwid, Length: 145, dtype: int64

In [193]:
Unfiltered_Merged[Unfiltered_Merged.med_type==0].medwid.sum()

0

In [194]:
print(sum(Unfiltered_Merged.med_type.isna()))
print(sum(Unfiltered_Merged[Unfiltered_Merged.med_type==0].medwid.isna()))
print(sum(Unfiltered_Merged[Unfiltered_Merged.med_type!=0].medwid.isna()))

0
0
0

It is seen that if the median exists, median width > 0 and if median doesn't exist, median width == 0. Also, median type has 7 (maybe 8) categories. We could do some feature engineering here?

NUMBER OF LANES AND LANE WIDTH

In [195]:
Unfiltered_Merged.no_lanes.isna().sum()

0

In [196]:
Unfiltered_Merged.no_lanes.value_counts()

2     116259
4      52985
6       6143
3       2165
5        962
8        866
1        321
10       207
7        188
9        125
12       124
11        14
0          5
Name: no_lanes, dtype: int64

In [197]:
#One case where the number of lanes = 0 to be removed
Unfiltered_Merged[Unfiltered_Merged.no_lanes==0]

,medwid,no_lanes,lanewid,aadt,trf_cntl,curv_rad,begmp,seg_lng,endmp,access,...,Severity_Fatal,Severity_Unknown,Weather_Clear,Weather_Rain,Weather_Snow,Weather_Fog,Weather_Hail,Weather_CrossWind,Weather_Other,Weather_Unknown
41907,0,0,0,12700,NaN,0,3.42,0.04,3.46,0,...,0,0,0,0,0,0,0,0,0,0
41908,0,0,0,14700,NaN,0,3.46,0.02,3.48,0,...,0,0,0,0,0,0,0,0,0,0
41909,0,0,0,14709,NaN,0,3.48,0.20,3.68,0,...,0,0,0,0,0,0,0,0,0,0
41910,0,0,0,14709,NaN,0,3.68,1.63,5.31,0,...,0,0,0,0,0,0,0,0,0,0
41911,0,0,0,14709,NaN,0,5.31,0.16,5.47,0,...,0,0,0,0,0,0,0,0,0,0

In [198]:
Unfiltered_Merged[Unfiltered_Merged.no_lanes==0].AccCount

41907    0
41908    0
41909    0
41910    0
41911    0
Name: AccCount, dtype: int64

In [199]:
Unfiltered_Merged[Unfiltered_Merged.no_lanes!=0].lanewid.value_counts().sort_index()

0       1697
4         11
5        103
6         27
7         10
8         82
9       3679
10      9642
11     28818
12    110655
13     16157
14      3795
15      2215
16      1139
17       527
18       623
19       226
20       390
21       120
22       167
23        65
24       107
25        29
26        36
27        17
28         4
29         1
30        10
31         3
32         3
33         1
Name: lanewid, dtype: int64

In [200]:
Unfiltered_Merged[Unfiltered_Merged.lanewid==36]

Empty DataFrame
Columns: [medwid, no_lanes, lanewid, aadt, trf_cntl, curv_rad, begmp, seg_lng, endmp, access, oneway, spd_limt, med_type, surf_typ, cnty_rte, rururb, rodwycls, AccCount, Severity_PDO, Severity_Inj_TypeA, Severity_Inj_TypeB, Severity_Inj_TypeC, Severity_Fatal, Severity_Unknown, Weather_Clear, Weather_Rain, Weather_Snow, Weather_Fog, Weather_Hail, Weather_CrossWind, Weather_Other, Weather_Unknown]
Index: []

[0 rows x 32 columns]

In [201]:
Unfiltered_Merged[Unfiltered_Merged.lanewid==36].cnty_rte

Series([], Name: cnty_rte, dtype: int64)

The standard lane width is 12 feet 
https://safety.fhwa.dot.gov/geometric/pubs/mitigationstrategies/chapter3/3_lanewidth.cfm

In [202]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<12)].shape

(44069, 32)

In [203]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<12)][['lanewid','AccCount']]

        lanewid  AccCount
78           11         1
79           11         0
80           11         0
81           11         0
82           11         0
...         ...       ...
180275        0         0
180276        0         0
180277        0         0
180278       10         0
180279       10         0

[44069 rows x 2 columns]

In [204]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<12)].AccCount

78        1
79        0
80        0
81        0
82        0
         ..
180275    0
180276    0
180277    0
180278    0
180279    0
Name: AccCount, Length: 44069, dtype: int64

In [205]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<12)].AccCount.sum()

34472

In [206]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<12)].AccCount.max()

89

In [207]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<12)].AccCount.min()

0

In [208]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)].AccCount.sum()

140739

In [209]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<10)].AccCount.sum()

2013

In [210]:
Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid<10)].shape

(5609, 32)

Possibly remove all road segments where the lane width < 10. Result in removing 1694 accidents. Also remove all cases where no_lanes = 0

AADT

In [211]:
Unfiltered_Merged[Unfiltered_Merged.aadt==0]

,medwid,no_lanes,lanewid,aadt,trf_cntl,curv_rad,begmp,seg_lng,endmp,access,...,Severity_Fatal,Severity_Unknown,Weather_Clear,Weather_Rain,Weather_Snow,Weather_Fog,Weather_Hail,Weather_CrossWind,Weather_Other,Weather_Unknown
1799,0,2,0,0,N,0,0.00,0.01,0.01,0,...,0,0,0,0,0,0,0,0,0,0
1800,0,2,0,0,N,0,0.01,0.19,0.20,0,...,0,0,0,0,0,0,0,0,0,0
1801,0,2,0,0,NaN,0,0.20,0.04,0.24,0,...,0,0,0,0,0,0,0,0,0,0
1802,0,2,0,0,NaN,0,0.24,0.01,0.25,0,...,0,0,0,0,0,0,0,0,0,0
1814,0,2,0,0,N,0,0.00,0.03,0.03,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180272,0,2,0,0,A,0,0.25,0.07,0.32,1,...,0,0,0,0,0,0,0,0,0,0
180273,0,2,0,0,N,0,0.32,0.12,0.44,1,...,0,0,0,0,0,0,0,0,0,0
180274,0,2,0,0,A,0,0.44,0.06,0.50,1,...,0,0,0,0,0,0,0,0,0,0
180278,0,2,10,0,N,0,0.00,0.01,0.01,1,...,0,0,0,0,0,0,0,0,0,0
180279,0,2,10,0,0,0,0.01,0.04,0.05,1,...,0,0,0,0,0,0,0,0,0,0

In [212]:
Unfiltered_Merged.aadt.value_counts().sort_index().head(10)

0      1834
9        37
10       46
25      184
29      134
50      198
59      106
75       91
79       14
100     143
Name: aadt, dtype: int64

In [213]:
Unfiltered_Merged.aadt.isna().sum()

0

In [214]:
Unfiltered_Merged[Unfiltered_Merged.aadt==0].AccCount.sum()

969

In [215]:
Unfiltered_Merged.aadt.max()

336100

In [216]:
Unfiltered_Merged.aadt.value_counts().sort_index(ascending=False).head(20)

336100    2
331900    4
326800    7
324600    1
324000    1
322100    1
322000    1
318600    3
318300    2
317300    3
316100    5
314900    1
314500    2
314400    1
312900    2
312800    1
311800    1
311100    8
310700    5
310000    4
Name: aadt, dtype: int64

In [217]:
Unfiltered_Merged[Unfiltered_Merged.aadt>300000].shape

(87, 32)

In [218]:
Unfiltered_Merged[Unfiltered_Merged.aadt>300000].AccCount.sum()

225

There are 1576 locations where AADT = 0. 647 accidents are recorded. These should be removed.

TRAFFIC CONTROL DEVICE

In [219]:
Unfiltered_Merged.trf_cntl.isna().sum()

116221

In [220]:
Unfiltered_Merged.shape[0]

180364

Nearly 60% of the records have NA for type of traffic control. Should be eliminated

CURVE RADIUS

In [221]:
Unfiltered_Merged.curv_rad.isna().sum()

0

In [222]:
Unfiltered_Merged.curv_rad.value_counts().sort_index().head(10)

0     176816
15         1
25         2
30         2
35         1
45         2
48         1
50        88
54         1
55         1
Name: curv_rad, dtype: int64

In [223]:
Unfiltered_Merged[Unfiltered_Merged.curv_rad!=0].shape

(3548, 32)

Curve Radius = 0 means straight segment. Most cases are straight. It should be kept

SEGMENT LENGTH

In [224]:
Unfiltered_Merged.seg_lng.isna().sum()

0

In [225]:
Unfiltered_Merged.seg_lng.value_counts().sort_index().head(10)

0.01    26345
0.02    20488
0.03    17325
0.04    17318
0.05    12941
0.06    14726
0.07     9890
0.08     9375
0.09     5602
0.10     4913
Name: seg_lng, dtype: int64

In [226]:
Unfiltered_Merged.seg_lng.max()

2.93

In [227]:
Unfiltered_Merged.seg_lng.min()

0.01

Segment Length seems ok. It should be kept.

ROADWAY ACCESS TYPE

In [228]:
Unfiltered_Merged.access.isna().sum()

0

In [229]:
Unfiltered_Merged.access.value_counts().head(10)

0    146275
2     18126
1     15963
Name: access, dtype: int64

Just three categories. Should be kept.

ONEWAY

In [230]:
Unfiltered_Merged.oneway.isna().sum()

0

In [231]:
Unfiltered_Merged.oneway.value_counts().head(10)

2    177098
1      3266
Name: oneway, dtype: int64

Just two categories. Should be kept.

SPEED LIMIT

In [232]:
Unfiltered_Merged.spd_limt.isna().sum()

0

In [233]:
Unfiltered_Merged.spd_limt.value_counts()

55    65637
0     23325
30    20535
35    18719
45    18246
40    13788
65    12517
50     5057
25     2149
20      362
10       19
15       10
Name: spd_limt, dtype: int64

In [234]:
Unfiltered_Merged[Unfiltered_Merged.spd_limt==0].AccCount.sum()

7937

In [235]:
Unfiltered_Merged[Unfiltered_Merged.spd_limt==0].AccCount.max()

46

In [236]:
Unfiltered_Merged[Unfiltered_Merged.spd_limt==0].AccCount.min()

0

25987 cases where the speed limit is unknown. There are 11186 accidents. 
1. Should filter out OR
2. Make a guess of the speed limit based on other conditions from data.

SURFACE TYPE

In [237]:
Unfiltered_Merged.surf_typ.isna().sum()

0

In [238]:
Unfiltered_Merged.surf_typ.value_counts()

600    66239
610    39063
620    18393
630    15419
640     7364
550     6005
560     5534
700     3827
730     3654
740     3536
720     2557
710     1866
725     1662
500     1456
650     1212
300      599
976      517
965      461
200      301
975      110
410       98
400       96
625       55
800       55
963       37
530       31
10        27
967       26
20        26
973       22
775       20
520       16
987       14
954       12
972       10
790        9
792        9
0          8
210        7
964        5
110        2
971        2
100        2
Name: surf_typ, dtype: int64

Large number of categories. We should concolidate categories based on commonalities.

RURAL OR URBAN

In [239]:
Unfiltered_Merged.rururb.isna().sum()

0

In [240]:
Unfiltered_Merged.rururb.value_counts()

1    91337
2    89027
Name: rururb, dtype: int64

Should be kept

ROADWAY CLASS

In [241]:
Unfiltered_Merged.rodwycls.isna().sum()

0

In [242]:
Unfiltered_Merged.rodwycls.value_counts()

8     79500
3     33832
4     24866
5     16647
1     10109
6      7177
99     3703
9      3407
10      452
7       425
2       246
Name: rodwycls, dtype: int64

11 categories. May consider consolidating categories. Should be kept.

In [243]:
Filtered_Merged = Unfiltered_Merged[(Unfiltered_Merged.no_lanes!=0)&(Unfiltered_Merged.lanewid>=10)&(Unfiltered_Merged.aadt>0)]

In [244]:
Filtered_Merged['Year'] = '10'

/Users/jacob/anaconda/envs/py3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [245]:
Filtered_Merged

,medwid,no_lanes,lanewid,aadt,trf_cntl,curv_rad,begmp,seg_lng,endmp,access,...,Severity_Unknown,Weather_Clear,Weather_Rain,Weather_Snow,Weather_Fog,Weather_Hail,Weather_CrossWind,Weather_Other,Weather_Unknown,Year
0,0,2,12,8500,N,0,0.00,0.01,0.01,0,...,0,213,29,14,1,1,0,4,1,10
1,0,2,12,8500,NaN,0,0.01,0.12,0.13,0,...,0,0,0,0,0,0,0,0,0,10
2,0,2,12,8500,N,0,0.13,0.03,0.16,0,...,0,0,0,0,0,0,0,0,0,10
3,0,2,12,8500,NaN,0,0.16,0.02,0.18,0,...,0,0,0,0,0,0,0,0,0,10
4,0,2,18,8500,NaN,0,0.18,0.03,0.21,0,...,0,2,0,0,0,0,0,0,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180359,64,4,12,25000,N,0,116.07,0.26,116.33,2,...,0,3,1,0,0,0,0,0,0,10
180360,64,4,12,25000,NaN,0,116.33,0.29,116.62,2,...,0,0,0,0,0,0,0,0,0,10
180361,64,4,12,25000,N,0,116.62,0.65,117.27,2,...,0,0,0,0,0,0,0,0,0,10
180362,64,4,12,25000,NaN,0,117.27,0.97,118.24,2,...,0,0,1,0,0,0,0,0,0,10
180363,64,4,12,25000,NaN,0,118.24,0.36,118.60,2,...,0,1,0,0,0,0,0,0,0,10

In [246]:
Filtered_Merged.to_csv('Filtered_Merged_10.csv',index=False)